h2 {
  text-align: center;
}
.card {
  max-width: 20%;
  margin-bottom: 2rem;
}
.card img {
  max-width: 100%;
}
.games_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.search_games_button_outer_container {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}
